@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Pacifico&family=Raleway:wght@300&family=Rum+Raisin&display=swap");

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #eaceb4;
}

.scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #54878f;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8a9a73;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
